{#

        Generates an interactive API console based on a URL to an OpenAPI Specification file (json format) in the package
  Example:
        {snippet 'package/snippets/openapi_console.html', pkg=pkg %}

#}

{% if pkg.type == "WebService" %}

<h3>API Console</h3>
<tr>
  <th scope="row" class="dataset-label">{{ _("OpenAPI Specification URL") }}</th>
  <td class="dataset-details">{{ pkg.openapi_spec_url }}</td>
</tr>

<div class="module-content ckanext-datapreview">
  <iframe src="/bcdc_openapi_console.html" width="100%" height="800" style="border: 1px solid #eeeeee"></iframe>
</div>
{% endif %}
